/* Estilo para centrar la tabla en la página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
}

td {
    padding: 20px;
}

.pintada {
    background-color: yellow;
}

/* Estilo para el título de la tabla */
caption {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

/* Estilo para el header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.formularios {
    display: flex;
    justify-content: space-between;
}

.formulario {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}